* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    --bg-theme: #202020;
    --bg-light: #282828;
    --bg-dark: #171717;
}

body {
    color: white;
    font-family: sans-serif
}


/* utility classes */
input {
    padding: 8px;
    padding-right: 40px;
    margin: 0 0px;
    background-color: #353535;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    color: white;
    transition: border-color 0.3s ease;
}


ul {
    list-style: none;
}

li {
    padding: 10px;
    margin: 5px 0px;
    background: #282828;
}

li:hover {
    background-color: #353535;
    cursor: pointer;
    transition: all ease 100ms;
}

i {
    font-size: x-large;
}

a {
    color: white;
    text-decoration: none;
}





/* container */
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: var(--bg-dark);

}

.sidebar {
    background-color: var(--bg-dark);
    min-height: 100%;
    min-width: 15rem;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    left: 0;
    transition: all 0.5s ease;
    z-index: 2;
}

.hide-sidebar {
    position: absolute;
    left: -20rem;
}

.ri-close-line {
    margin-left: auto;
    margin-left: 85%;
}

.absolute {
    position: absolute;
}



/* main */
.main {
    background-color: var(--bg-theme);
    height: 100%;
    width: 100%;
    overflow-y: scroll;

}



/* header */
.header {
    background-color: var(--bg-dark);
    height: 4rem;
    width: 100%;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .right{
    position: relative;
    display: flex;
    align-items: center;
}

.header .right i {
    right: 5px;
    margin: 0 5px;
    font-size: 20px;
    position: absolute;
    color: #b0b0b0;
}



/* content */
.content {
    width: 100%;
    background-color: var(--bg-theme);
    padding: 1rem;
}

/* dropdown */
.dropdown {
    display: flex;
    justify-content: end;
    margin-bottom: 1rem;
}

.dropdown label {
    display: block;
    margin-bottom: 5px;
}

.dropdown select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    box-sizing: border-box;
}

.dropdown select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.dropdown select {
    width: auto;
    max-width: 200px;
    padding: 6px 8px;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    background-color: var(--bg-theme);
    box-sizing: border-box;
    color: white;

}

.dropdown option {
    color: white;
    background-color: var(--bg-theme);
    padding: 5px;
}



/* card */
.cards {
    width: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 30px 10px;
}

.card {
    width: 20rem;
    height: 25rem;
    background-color: var(--bg-dark);
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card:hover {
    background-color: var(--bg-light);
}

.card .img-container {
    height: 50%;
    width: 100%;
    background-color: var(--bg-theme);
}

.card img {
    width: 100%;
    height: 100%;
}

.card .card-info {
    padding: 15px;
}

.card .category {
    background-color: rgb(211, 5, 139);
    padding: 5px 10px;
    border-radius: 10px;
    font-size: small;
    font-weight: bold;
    position: absolute;
    top: 40%;
    right: 10px;
}

.card .level {
    background-color: rgb(3, 148, 206);
    padding: 5px 10px;
    border-radius: 10px;
    font-size: small;
    font-weight: bold;
}

.card .rating {
    color: orange;
}

.card .title{
    margin-top: 10px;
}
.card .description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #b0b0b0;
    margin-bottom: 5px;
}
.card .pricing{
    margin-top: 10px;
    font-size:medium;
    font-weight: bold;
}
.card .discount {
    background-color: rgb(228, 153, 3);
    padding: 5px 10px;
    border-radius: 10px;
}

.card .price {
    background-color: rgb(185, 4, 4);
    padding: 5px 10px;
    border-radius: 10px;
}



@media screen and (max-width: 700px) {
    .sidebar {
        position: absolute;
    }

    .content {
        padding: 0.5rem;
    }
    
}
